.projects {

    padding: 1rem;
}

.project-title {
    padding: 0;
    margin: 1rem 0 0 0;
    font-weight: 900;
    font-size: 1.1rem;
}

#add-project {
    background-image: url(../icons/add.svg);
    background-color: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    border: none;

    margin: 0rem -0.4rem;
}
#add-project:hover {
    cursor: pointer;
}

.project {
    display: grid;
    grid-template:30px / 1fr 30px;
    grid-template-areas:
    "name delete";
    align-items: center;
}
.project-name {
    grid-area: name;
}
.remove-project {
    grid-area: delete;
    height: 100%;
    background-image: url(../icons/delete.svg);
    background-color: transparent;
    border: none;
}


.project > *:hover {
    cursor: pointer;
}

.project-form {
    display: grid;
    grid-template-columns: 1fr 50px;
}

.date-range-name:hover {
    cursor: pointer;
}

