.projects {

    padding: 1rem;
}

.project-title {
    padding: 0;
    margin: 1rem 0 0 0;
    font-weight: 900;
    font-size: 1.1rem;
}

#add-project {
    background-image: url(../icons/add.svg);
    background-color: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    border: none;

    margin: 0rem -0.4rem;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
}
.project-name {
    width: auto;
    font-size: 1.1rem;
}
.project-name:hover {
    cursor: pointer;
}

.remove-project {
    height: 30px;
    width: 30px;
    background-image: url(../icons/delete.svg);
    background-color: transparent;
    border: none;
}


.project > *:hover {
    cursor: pointer;
}

.project-form {
    display: grid;
    grid-template-columns: 1fr 50px;
}

.date-range-name {
    width: 84px;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.date-range-name:hover {
    cursor: pointer;
}

