@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

* {
    font-family: Roboto, san-serif;
}

/* 
template layout
*/
body {
    height: 100vh;
    display: grid;
    grid-template: 50px / 300px 1fr;
    grid-template-areas:
    "header header"
    "project todolist";

    margin: 0;
}

.header {
    grid-area: header;
    background-color: #facc15;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 3px;
    
    display: flex;
}
.title {
    color: #f9fafb;
    padding-left: 1rem;
    margin: 0;
    align-self: center;
}

.projects {
    grid-area: project;
    display: flex;
    flex-direction: column;

    background-color: hsl(240, 7%, 97%);
    border-radius: 3px;
    
}
.todolist {
    grid-area: todolist;
    padding: 1.5rem;
    background-color:#f9fafb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
}


