@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

* {
    font-family: Roboto, san-serif;
}

/* 
template layout
*/
body {
    height: 100vh;
    display: grid;
    grid-template: 100px / 300px 1fr;
    grid-template-areas:
    "header header"
    "project todolist";
}

.header {
    grid-area: header;
}

.projects {
    grid-area: project;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.todolist {
    grid-area: todolist;
    border: 1px solid;
    padding: 1.5rem;
}


